* {
    box-sizing: border-box;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 375px;
    height:1040px;
    align-items: center;
    text-align: center;
}

.r1 {
    width: 320px;
    height: 90px;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    padding: 20px;
    color:hsl(300, 43%, 22%); 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
   
}

.r2 {
    width: 320px;
    height: 90px;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    padding: 20px;
    color:hsl(300, 43%, 22%); 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.r3 {
    width: 320px;
    height: 90px;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    padding: 20px;
    color:hsl(300, 43%, 22%); 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.estrelas {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.colton{
    width: 320px;
    height: 250px;
    border-radius: 5px 5px 5px 5px;
    background-color: hsl(300, 43%, 22%);
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.irene {
    width: 320px;
    height: 250px;
    border-radius: 5px 5px 5px 5px;
    background-color:hsl(300, 43%, 22%);
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.anne {
    width: 320px;
    height: 250px;
    border-radius: 5px 5px 5px 5px;
    background-color:hsl(300, 43%, 22%);
    color: white;
    margin: 10px;
    padding: 20px; 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}


img{
    display: flex;
    border-radius: 50%;     
}

h1 {
    color:hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    margin: 10px;
    padding: 20px; 
}

p {
    font-size: 15px;
    font-family:'Spartan', sans-serif;
    margin: 15px;
    padding: 10px; 
}

.imgone {
   display: flex;
   margin: 15px; 
}

/* Desktop*/

@media (min-width: 375px){
    .container{
        display: flex;
        justify-content: right;
    }
}