* {
    box-sizing: border-box;
    padding: 0;
}

.container {
    background-color: aqua;
    display:flex;
    flex-direction: column;
    width: 375px;
    align-items: center;
    text-align: center;
}

.r1 {
    width: 375px;
    height: 90px;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    padding: 20px;
    color:hsl(300, 43%, 22%); 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
   
}

.r2 {
    width: 375px;
    height: 90px;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    padding: 20px;
    color:hsl(300, 43%, 22%); 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.r3 {
    width: 375px;
    height: 90px;
    background-color:  hsl(300, 24%, 96%);
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
    padding: 20px;
    color:hsl(300, 43%, 22%); 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.estrelas {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.colton{
    width: 320px;
    height: 250px;
    border-radius: 5px 5px 5px 5px;
    background-color: hsl(300, 43%, 22%);
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.irene {
    width: 320px;
    height: 250px;
    border-radius: 5px 5px 5px 5px;
    background-color:hsl(300, 43%, 22%);
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}

.anne {
    width: 320px;
    height: 250px;
    border-radius: 5px 5px 5px 5px;
    background-color:hsl(300, 43%, 22%);
    color: white;
    margin: 10px;
    padding: 20px; 
    font-size: 15px;
    font-family:'Spartan', sans-serif;
}


img{
    display: flex;
    border-radius: 50%;     
}

h1 {
    color:hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    margin: 10px;
    padding: 20px; 
}

p {
    font-size: 15px;
    font-family:'Spartan', sans-serif;
    margin: 15px;
    padding: 10px; 
}

.imgone {
   display: flex;
   margin: 15px; 
}


/*colocar as estrelas no tamanho menor dentro do media query , inserir o width e heigth para ficar alkinhado com o desafio*/

/* Desktop*/

@media (min-width: 376px) {
    .container {
        padding: 90px;
    }
}

@media (min-width: 376px) {
    .r1 {
        display: flex;
        flex-direction: row;
        width: 400px;
        align-items: center;
    }
}

@media (min-width: 376px) {
    .r2 {
        display: flex;
        align-self: center;
        width: 400px;
        align-items: center;
    }
}


@media (min-width: 376px) {
    .r3 {
        display: flex;
        align-self: flex-end;
        width: 400px;
        align-items: center;
    }
}

@media (min-width: 376px) {
    .container {
        width: 100%;
    }
}

@media (min-width:376px) {
    .info {
        align-self: flex-start;
        width: 400px;
        height: 300px;
    }
}

@media (min-width:376px) {
    .stars {
        width: 650px;
        display:flex;
        flex-direction:column;
        align-self:flex-end;
        /*colocar ele para cima*/
        background-color: lawngreen;
    }
}

@media (min-width:376px) {
    .colton {
        width: 400px;
       
}

@media (min-width:376px) {
    .anne {
        width: 400px;
        flex-direction: column;
        align-self:flex-end;
}

@media (min-width:376px) {
    .irene {
        width: 400px;
        flex-direction:column;
        align-self:center;
     
}

@media (min-width: 376px) {
    .car1 {
        display: flex;
        justify-content: center;
        width:100%;
        height:310px;
    }
}
